# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/rust/tags/
image: "rust:latest"

stages:
  - build
  - test
  - release
  
variables:
  CARGO_HOME: '.cargo'

build:
  stage: build
  except:
    - master
  cache:
    key: debug
    paths:
      - target/
      - $CARGO_HOME
  before_script:
    - rustc --version
    - cargo --version
  script:
    - cargo build --features tls

build-release:
  stage: build
  only:
    - master
  artifacts:
    paths:
      - target/release/samotop
      - Cargo.lock
  script:
    - cargo build --features tls --release
    
test-tls:
  stage: test
  cache:
    key: debug
    policy: pull
    paths:
      - target/
      - $CARGO_HOME
  script:
    - cargo test --all --features tls

test-notls:
  extends: test-tls
  script:
    - cargo test --all

test-nightly:
  extends: test-tls
  before_script:
    - rustup default nightly

publish-lib:
  stage: release
  only:
    - master
  script:
    - cargo publish --token "$CRATES_KEY"

publish-server:
  stage: release
  only:
    - master
  image: "docker:git"
  services:
    - docker:dind
  script:
    - docker build -t samotop .
    - docker run -t --rm samotop samotop -V | tee docker.log
    - tag="brightopen/samotop:$(cat docker.log | cut -d ' ' -f2 | tr -d \\n\\r)"
    - echo "$tag"
    - docker login -u "$DOCKER_USR" -p "$DOCKER_PWD" https://docker.io
    - docker tag samotop "$tag"
    - docker push "$tag"
